{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block container %}

<style>
    h1 {
        text-align: center;
    }
    /* Style form inputs */
input[type="password"] {
    display: flex;
    border: 1px solid #ccc;
    padding: 8px;
    max-width: 300px;
    width: 100%;
    margin-bottom: 10px;
    flex-direction: column;
    align-items: center;

}

/* Style form labels */
label {

    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

/* Style form buttons */
button {
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    font-size: 20px;

}
/* Add some spacing between form elements */
form > * {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    }



</style>
  <h1>Change Password</h1>
  <form method="POST" action="{% url 'charity:change_password' %}">
    {% csrf_token %}
    {{ form.old_password|as_crispy_field }}
    {{ form.new_password1|as_crispy_field }}
    {{ form.new_password2|as_crispy_field }}
    <button type="submit" class="btn btn-primary">Zmień Hasło</button>
  </form>
{% endblock %}
